.mainBody .avatar {
    height: 400px;
    width: 400px;
    border-radius: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 2%;
}

.mainBody {
    padding-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.mainBody p {
    font-family: "FaunaOne", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c7c7c7;
    font-size: 24px;
    
}

.mainBody .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.docs {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.diploma {
    width: auto;
}

.tkd {
    width: auto;
}

.bottompic {
    max-width: 80%;
}

.mainBody .title {
    font-family: "FaunaOne", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c7c7c7;
    font-size: 56px;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}

.contact {
    background-color: rgba(255,255,255,0.7);
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#contact {
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/images/supporting/contact-background.JPG");
    background-repeat: no-repeat;
}