.contactBody .title {
    font-family: "FaunaOne", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-left: auto;
    text-align: center;
}

.contactBody {
    background-color: rgb(59, 59, 59, 0.85);
    padding: 5px;
    color:#c7c7c7;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 40px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (max-width: 1920px) {
    .contactBody {
        width: 60%;
    }
}

@media (max-width: 1620px) {
    .contactBody {
        width: 70%;
    }
}

@media (max-width: 1320px) {
    .contactBody {
        width: 80%;
        margin-top: 70px;
    }
}

@media (max-width: 1170px) {
    .contactBody {
        width: 95%;
        margin-top: 140px;
    }
}

@media screen and (orientation:landscape)
and (max-device-width: 1000px) {
    .contactBody .title {
        font-size: 25px;
    }

    .contactBody p {
        font-size: 12px;
    }

    .contactBody {
        margin-top: 18px;
    }
}

#contact {
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/images/supporting/contact-background.JPG");
    background-repeat: no-repeat;
}

.contactBody p {
    font-family: "FaunaOne", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c7c7c7;
    font-size: 20px;
    
}
