.contactBody .title {
    font-family: "FaunaOne", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-left: auto;
    text-align: center;
}

.contactBody {
    background-color: rgb(59, 59, 59, 0.85);
    padding: 5px;
    color:#c7c7c7;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 40px;
    width: 50%;
}

@media (max-width: 1920px) {
    .contactBody {
        width: 60%;
    }
}

@media (max-width: 1620px) {
    .contactBody {
        width: 70%;
    }
}

@media (max-width: 1320px) {
    .contactBody {
        width: 80%;
    }
}

@media (max-width: 1170px) {
    .contactBody {
        width: 90%;
    }
}

#contact {
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/images/supporting/contact-background.JPG");
    background-repeat: no-repeat;
}

.contactBody p {
    font-family: "FaunaOne", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c7c7c7;
    font-size: 20px;
    
}
