html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url("../assets/background3.jpg");
    background-repeat: no-repeat;
}

body {
    font-family: 'Gravity-Regular', 'Courier';
}

.mainTitle {
    font-family: "Gravity-Regular";
    font-size: 400%;
    color: white;
    text-align: center;
    margin-top: 10%;
    position: relative;
}

a {
    color: inherit;
    text-decoration: inherit;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#particles-js {
    height: 50%;
    background: rgb(102, 95, 95);
}