/* img {
    width: 100%;
  }
  
  .grid {
      column-count: 3;
      column-gap: 5px;
  }
  
  .grid .grid-item {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
  }
  */
  .grid-item {
    width: 33.33333333%;
    margin-bottom: -0.3%;
  }
  .grid-item img {
    width: 100%;
  }
    
  @media (max-width: 1659px) {
    .grid-item {
      width: 49.9999999%;
    }
  }
  
  @media (max-width: 899px) {
    .grid-item {
      width: 100%;
    }
  }
