.social {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin: 0;
    position: absolute;
    bottom: 5%;
}

.social img {
    height: 50px;
    width: 50px;
}

a {
    padding: 1em;
}